.modal_container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: grid;
  place-items: end;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, backdrop-filter 0.5s ease;
}

.modal {
  background-color: rgba(44, 23, 77, 0.397);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 50vh;
  box-shadow: 0 0 10px 0 #000000bd;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.modal_show {
  opacity: 1;
  pointer-events: auto;
}

.modal_show .modal {
  transform: translateY(0);
}