.modal_container {
  /* background: rgba(43, 43, 43, 0.041); */
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  display: grid;
  place-items: center;
  /* padding-left: 300px;
  padding-top: 120px;
  padding-bottom: 120px; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  transition: backdrop-filter 0.5s ease;
}

.modal {
  background-color: rgba(44, 23, 77, 0.397);
  backdrop-filter: blur(5px);
  width: 80vw;
  height: 75vh;
  padding: 20px;
  border-radius: 15px;
  border: 5px solid #3b2b44;
  box-shadow: 0 0 10px 0 #0000009c;

  overflow: hidden;
  transform: translate(100%);
  transition: transform 0.3s ease;
}

.modal_show {
  opacity: 1;
  pointer-events: auto;
}

.modal_show .modal {
  transform: translate(0);
}
