.navbar {
  display: flex;
  flex-direction: column;
  gap: 34px;
  z-index: 100;
}

.open_modal_button {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 100;
  color: #f3f3f3;
  padding: 45px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background-color: rgba(65, 65, 65, 0);
  backdrop-filter: blur(3px);
  border: 1px solid #3b3b3b6c;
}

.open_modal_button:hover {
  color: #e8dbfa;
  border: 1px solid #b63ddba1;
  background-color: rgba(119, 39, 156, 0.068);
}
