.navbar {
  display: flex;
  flex-direction: column;
  gap: 34px;
  z-index: 100;
}

.open_modal_button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 100;
  color: #f3f3f3;
  padding: 45px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background-color: rgba(65, 65, 65, 0);
  backdrop-filter: blur(3px);
  border: 1px solid #9b41b673;
  width: 200px;
  height: 60px;
}

.open_modal_button:hover {
  color: #f6dbfa;
  border: 1px solid #d95bffb7;
  background-color: rgba(65, 17, 83, 0.315);
}

.open_modal_button:active {
  color: #f6dbfa;
  border: 1px solid #d95bffb7;
  background-color: rgba(65, 17, 83, 0.315);
}
