.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 80px;
}

.apresentacao p {
  max-width: 55ch;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-top: 24px;
  font-weight: 300;
  color: #e6e6e6;
}

.apresentacao h2 {
  font-size: 80px;
  font-weight: 700;
  padding-top: 120px;
  line-height: 0.9;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #ede7f3, #9f9ba0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.apresentacao h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 800;
  background: linear-gradient(90deg, #d8b2ff, #631f9e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.perfil-conteudo {
  text-align: center;
  margin-bottom: 6vh;
  z-index: 10;
}

.imagem-container {
  position: relative;
  display: inline-block;
  margin-top: 40px;
}

.imagem-container img {
  max-width: 600px;
  max-height: 600px;
  height: auto;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
}

.imagem-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: 0;
  background-color: rgba(65, 65, 65, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}
